<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmscAddress" value="127.0.0.1" />
    <add key="SmscPort" value="8080" />
    <add key="SystemId" value="EsmeTest" />
    <add key="Password" value="test" />
    <add key="SystemType" value="SystemType" />
    <add key="DestinationAddressPrefix" value="1" />
  </appSettings>
</configuration>
